<div class="dashboard">
  <div class="dash-top-menu">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/reports/']">Asset Allocation Register</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/reports/lms/status']">Repair / Status Change History</a>
      </li>
    </ul>
  </div>
  <div class="dash-outlet">
    <router-outlet></router-outlet>
  </div>
</div>

