<md-card>
  <form #assetSearchForm="ngForm" (submit)="searchAsset(assetSearchForm.value)">
    <div class="card-header">
      <md-card-title>Asset Search</md-card-title>
      <md-card-subtitle>Search for an existing asset using Name, ID or Type.</md-card-subtitle>
      <md-divider></md-divider>
    </div>

    <md-card-content>
      <div layout="row" layout-margin>
        <div flex>
          <md-select mdInput ngModel placeholder="Asset Type" name="assetType">
            <md-option *ngFor="let type of assetTypes" [value]="type.name">
              {{type.description}}
            </md-option>
          </md-select>
        </div>
        <md-input-container flex>
          <input mdInput placeholder="Asset ID" name="assetId" ngModel>
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <div flex>
          <md-select mdInput ngModel placeholder="Asset Status" name="status">
            <md-option *ngFor="let status of assetStatuses" [value]="status?.name">
              {{status?.description}}
            </md-option>
          </md-select>
        </div>
        <md-input-container flex>
          <input mdInput placeholder="Max Results" name="maxResults" ngModel type="number">
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <qs-passive-tag-reader flex></qs-passive-tag-reader>
        <qs-active-tag-reader flex></qs-active-tag-reader>
      </div>
    </md-card-content>

    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="accent" class="text-upper" type="submit">Search</button>
      <button md-button class="text-upper" type="reset" md-dialog-close>Cancel</button>
    </md-card-actions>
  </form>
</md-card>

<md-card *ngIf="showResults">
  <md-card-title>Asset Search Results</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <table class="results-table">
      <tr class="table-heading">
        <td>Asset ID</td>
        <td>Asset Type</td>
        <td>Asset Status</td>
        <td>Assignment Status</td>
        <td>Options</td>
      </tr>
      <tr #tr *ngFor="let asset of assetSearchResults" (click)="selectResult(asset)">
        <td>{{asset?.assetId}}</td>
        <td>{{asset?.assetType?.description}}</td>
        <td>{{asset?.status}}</td>
        <td>{{asset?.allocStatus}}</td>
        <td>
          <button md-icon-button
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}"
                  [routerLink]="['/lampsman/allocate']" [queryParams]="{asset: asset?.assetId}"
                  mdTooltip="Assign this Asset to a person">
            <md-icon class="md-24">link</md-icon>
          </button>
          <!--            <button md-icon-button>
                        <md-icon class="md-24">add_circle</md-icon>
                      </button>-->
          <button md-icon-button mdTooltip="Edit this asset"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}"
                  [routerLink]="['/lampsman/asset/edit/', asset?.assetId]">
            <md-icon class="md-24">edit</md-icon>
          </button>
          <button md-icon-button mdTooltip="View Timeline"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}"
                  [routerLink]="['/lampsman/asset/timeline', asset?.assetId]">
            <md-icon class="md-24">timeline</md-icon>
          </button>
          <button md-icon-button mdTooltip="View More Details"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}"
                  [routerLink]="['/lampsman/asset/details/', asset?.assetId]">
            <md-icon class="md-24">more_vert</md-icon>
          </button>
        </td>
      </tr>
    </table>
  </md-card-content>
</md-card>
