
<form [formGroup]="createAssetForm">
  <div layout="row" layout-margin>
    <div flex>
      <md-select mdInput formControlName="type" placeholder="Asset Type" disabled>
        <md-option  [value]="assetType">
          {{assetType?.description}}
        </md-option>
      </md-select>
    </div>
    <md-input-container flex>
      <input mdInput placeholder="Enter Asset ID (15 max)" maxlength="15" #inputHint
             formControlName="assetId">
      <md-hint align="end">{{inputHint.value.length}} / 15</md-hint>
    </md-input-container>
  </div>
  <ng-container formArrayName="attributeMap">
    <ng-container *ngFor="let attr of assetTypeAttributes; let even = even; let i = index">
      <div layout="row" layout-margin *ngIf="even">
        <ng-container *ngFor="let attribute of [assetTypeAttributes[i], assetTypeAttributes[i+1]]">
          <ng-container *ngIf="attribute?.type.systemType==='STRING'">
            <md-input-container flex>
              <input mdInput placeholder="{{attribute?.description}}" name="{{attribute?.name}}"
                     formControlName="{{attribute?.name}}">
            </md-input-container>
          </ng-container>


          <ng-container *ngIf="attribute?.type.systemType==='DATE'">
            <md-input-container flex>
              <input mdInput placeholder="{{attribute?.description}}"
                     formControlName="{{attribute?.name}}"
                     [mdDatepicker]="myDatepicker">
              <button mdSuffix [mdDatepickerToggle]="myDatepicker"></button>
            </md-input-container>
            <md-datepicker #myDatepicker></md-datepicker>
          </ng-container>

          <ng-container *ngIf="attribute?.type.systemType==='BOOLEAN'">
            <ng-container flex>
              <md-checkbox mdInput formControlName="{{attribute?.name}}" flex>{{attribute?.description}}</md-checkbox>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="attribute?.type.systemType==='OPTION_LOOKUP'">
            <div flex>
              <md-select mdInput placeholder="{{attribute?.description}}">
                <md-option *ngFor="let item of items" [value]="item?.name">
                  {{item?.description}}
                </md-option>
              </md-select>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</form>
