<md-card>
  <form #personSearchForm="ngForm" (submit)="searchPerson(personSearchForm.value)">
    <md-card-header class="mat-primary">
      <md-card-title>Person Search</md-card-title>
      <md-card-subtitle>Search for an existing person using Name, ID or Company No.</md-card-subtitle>
      <span flex></span>
      <button md-button type="button">
        <md-icon (click)="showMore = !showMore">more_vert</md-icon>
      </button>
    </md-card-header>

    <md-divider></md-divider>

    <md-card-content>

      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="Surname & Initials" name="name" ngModel>
        </md-input-container>
        <md-input-container flex>
          <input mdInput placeholder="Company No." name="companyNo" ngModel>
        </md-input-container>
      </div>
      <div layout="row" layout-margin *ngIf="showMore">
        <div flex>
          <md-select mdInput name="personType" placeholder="Person Type" ngModel>
            <md-option *ngFor="let type of personTypes" [value]="type.name">
              {{type.description}}
            </md-option>
          </md-select>
        </div>
        <md-input-container flex>
          <input mdInput placeholder="ID / Passport No." name="identityNo" ngModel>
        </md-input-container>
      </div>
    </md-card-content>

    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="accent" class="text-upper" type="submit">Search</button>
      <button md-button class="text-upper" type="reset">Cancel</button>
    </md-card-actions>
  </form>
</md-card>

<ng-container *ngIf="showResults">
  <md-card>
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
  <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span class="md-title">Person Search Results</span>
  </span>
      <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="md-title"></span>
    <span *ngIf="selectedRows.length && selectable" class="md-body-1">0 item(s) selected</span>
  </span>
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here"
                     (searchDebounce)="search($event)" flex>
      </td-search-box>
    </div>
    <md-divider></md-divider>
    <md-card-content>
      <td-data-table
        #dataTable
        [data]="filteredData"
        [columns]="columns"
        [selectable]="selectable"
        [clickable]="clickable"
        [multiple]="multiple"
        [sortable]="true"
        [sortBy]="sortBy"
        [(ngModel)]="selectedRows"
        [sortOrder]="sortOrder"
        (sortChange)="sort($event)"
        (rowClick)="selectResult($event)">
      </td-data-table>
      <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
        <h3>No results to display.</h3>
      </div>
    </md-card-content>
    <md-divider></md-divider>
    <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
      <span td-paging-bar-label hide-xs>Row per page:</span>
      {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </md-card>
</ng-container>
