<div td-toolbar-content layout="row" layout-align="center center" flex>
  <span><strong>Mimacs</strong> Enterprise</span>
  <span flex></span>
  <td-search-box placeholder="Search" [alwaysVisible]="false" flex></td-search-box>
  <button mdTooltip="Notifications & Alerts" md-icon-button [mdMenuTriggerFor]="notificationsMenu">
    <td-notification-count [notifications]="101">
      <md-icon>notifications</md-icon>
    </td-notification-count>
  </button>
  <md-menu #notificationsMenu="mdMenu" [overlapTrigger]="false">
    <td-menu>
      <div td-menu-header class="md-subhead">Notifications</div>
      <md-nav-list dense>
        <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
          <a md-list-item>
            <md-icon md-list-avatar>today</md-icon>
            <h4 md-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
            <p md-line>22 minutes ago</p>
          </a>
          <md-divider *ngIf="!last"></md-divider>
        </ng-template>
      </md-nav-list>
      <button md-button color="accent" td-menu-footer>
        See All Notifications
      </button>
    </td-menu>
  </md-menu>

  <td-notification-count color="primary" positionX="before" [notifications]="true" [mdMenuTriggerFor]="userMenu">
    <md-icon>person</md-icon>
  </td-notification-count>
  <md-menu #userMenu="mdMenu" [overlapTrigger]="false">
    <td-menu>
      <div td-menu-header class="md-subhead user-menu">
        <div class="user-image">
          <img src="../../../assets/images/avatar.png">
        </div>
        <div class="user-info">
          <span><strong>Bright Dodo</strong></span>
          <span>Role(s): Admin</span>
        </div>
      </div>
      <div td-menu-footer>
        <button md-button color="primary" class="text-upper">Edit Profile</button>
        <button md-button color="accent" class="text-upper">Sign Out</button>
      </div>
    </td-menu>
  </md-menu>

  <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1"><md-icon>more_vert</md-icon></button>
  <md-menu #toolbarMenu1="mdMenu" [overlapTrigger]="false">
    <td-menu>
      <div td-menu-header class="md-subhead">{{applicationTitle}}</div>
      <md-nav-list dense>
        <p md-list-item>Shaft: </p>
        <p md-list-item>Version: </p>
        <p md-list-item>Last Updated:</p>
      </md-nav-list>
      <button md-button color="accent" td-menu-footer>
        <md-icon>settings</md-icon>
        <span>Settings</span>
      </button>
    </td-menu>
  </md-menu>
</div>
