<md-card>
  <md-card-content>
    <form #allocationRegisterForm="ngForm" (ngSubmit)="onSubmit(allocationRegisterForm.value)">
      <div layout="row" layout-margin>
        <div flex class="custom_select">
          <md-select mdInput name="type" placeholder="Asset Type" ngModel>
            <md-option  *ngFor="let assetType of assetTypes" [value]="assetType">
              {{assetType?.description}}
            </md-option>
          </md-select>
        </div>

        <md-input-container flex>
          <input mdInput placeholder="Start Date"
                 name="startDate"
                 [mdDatepicker]="myDatepicker" ngModel>
          <button mdSuffix [mdDatepickerToggle]="myDatepicker"></button>
        </md-input-container>
        <md-input-container flex>
          <input mdInput placeholder="End Date"
                 name="endDate"
                 [mdDatepicker]="myDatepicker" ngModel>
          <button mdSuffix [mdDatepickerToggle]="myDatepicker"></button>
        </md-input-container>
        <button md-raised-button color="primary" class="text-upper">Generate Register</button>
      </div>
    </form>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>Asset Allocation Register</md-card-title>
  <md-card-subtitle>Date (Period) From:  To: </md-card-subtitle>
  <md-divider></md-divider>
  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
  <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span class="md-title">Allocation Register</span>
  </span>
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="md-title"></span>
    <span *ngIf="selectedRows.length && selectable" class="md-body-1">0 item(s) selected</span>
  </span>
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here"
                   (searchDebounce)="search($event)" flex>
    </td-search-box>
  </div>
  <md-divider></md-divider>
  <md-card-content>
    <td-data-table
      #dataTable
      [data]="filteredData"
      [columns]="columns"
      [selectable]="selectable"
      [clickable]="clickable"
      [multiple]="multiple"
      [sortable]="true"
      [sortBy]="sortBy"
      [(ngModel)]="selectedRows"
      [sortOrder]="sortOrder"
      (sortChange)="sort($event)"
      (rowClick)="selectResult($event)">
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>No results to display.</h3>
    </div>
  </md-card-content>
  <md-divider></md-divider>
  <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
    <span td-paging-bar-label hide-xs>Row per page:</span>
    {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
  </td-paging-bar>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="accent" class="text-upper" type="button">PDF</button>
    <button md-icon-button class="text-upper" type="button">Excel</button>
    <button md-button class="text-upper" type="button">Print</button>
  </md-card-actions>
</md-card>
