<md-card>
  <md-card-content>
    <div layout="row" class="info">
      <div flex class="pic">
        <img src="assets/images/avatar.png" class="miner-photo">
      </div>
      <div flex class="detail">
        <span>Name :{{person?.name}}</span>
        <span>Company No: {{person?.personId}}</span>
        <span>Person Type: {{person?.personType}}</span>
      </div>
    </div>
  </md-card-content>
</md-card>

<div layout="row">
  <div flex-gt-sm="33">
    <qs-allocations [person]="person"></qs-allocations>
  </div>
  <div flex-gt-sm="33">
<qs-movements [person]="person"></qs-movements>
  </div>
  <div flex-gt-sm="33">
<qs-measurements [person]="person"></qs-measurements>
  </div>
</div>

<div layout="row">
  <div flex-gt-sm="66">
<qs-person-activity [person]="person"></qs-person-activity>
  </div>
  <div flex-gt-sm="33">

  </div>
</div>
