.info{
  display: flex;
}
.pic{
  flex: 1;

}
.detail{
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
}
.pic img{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid;
}
