<div class="{{equipmentState}}">
  <span>Rescue<br/>Pack</span>
  <qs-dropdown [person]="person" [assignments]="assignedRescuePacks" [assetType]="'RescuePack'" ></qs-dropdown>
  <div class="rescue-img"></div>
</div>

