<button class="btn dropdown-toggle" data-toggle="dropdown">
  <span class="glyphicon icon-search main_icon"></span>
  <img src="/assets/images/sbi9.png" class="sbi9 plus_icon">
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  <li class="dropdown-header">Status: {{operationalStatus}}</li>
  <li class="dropdown-header">Permanents</li>
  <ng-container *ngFor="let assignment of assignments; let i = index">
    <li *ngIf="assignment?.asset.allocStatus ==='allocated'">
      <a href="javascript:void(0)" ><strong>{{assignment?.asset.assetId}}</strong> <span class="glyphicon glyphicon-triangle-right pull-right" aria-hidden="true"></span></a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-header">Actions</li>
        <li><a href="#">Inspect</a></li>
        <li><a href="javascript:void(0)" (click)="deallocate(assignment)">Deallocate</a></li>
        <li><a href="#">Book in for Repair</a></li>
        <li><a href="#">Repair History</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Reports</li>
        <li><a href="javascript:void(0)">Repair History</a></li>
        <li><a href="javascript:void(0)">Movement History</a></li>
        <li><a href="javascript:void(0)">Assignment History</a></li>
        <li><a href="javascript:void(0)">Last Known Location</a></li>
      </ul>
    </li>
  </ng-container>


  <li class="dropdown-header">Spares</li>
  <ng-container *ngFor="let assignment of assignments">
    <li *ngIf="assignment.asset.allocStatus ==='temp-alloc'">
      <a href="javascript:void(0)"> <strong>{{assignment.asset.assetId}}</strong> <span class="glyphicon glyphicon-triangle-right pull-right" aria-hidden="true"></span></a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-header">Actions</li>
        <li><a href="#">Inspect</a></li>
        <li><a href="javascript:void(0)" (click)="deallocate(assignment)">Deallocate</a></li>
        <li><a href="#">Book in for Repair</a></li>
        <li><a href="">Repair History</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Reports</li>
        <li><a href="javascript:void(0)">Repair History</a></li>
        <li><a href="javascript:void(0)">Movement History</a></li>
        <li><a href="javascript:void(0)">Assignment History</a></li>
        <li><a href="javascript:void(0)">Last Known Location</a></li>
      </ul>
    </li>
  </ng-container>


  <li role="separator" class="divider"></li>
  <li class="dropdown-header">Actions</li>
  <li>
    <a href="javascript:void(0)" (click)="openCreateAssetDialog()">Create</a>
  </li>
  <li class="dropdown-submenu" *ngIf="person">
    <a href="javascript:void(0)">Assign Permanent <span class="glyphicon glyphicon-triangle-right pull-right" aria-hidden="true"></span></a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li *ngFor="let option of shiftOptions"><a href="javascript:void(0)" data-toggle="modal" data-target="#spare_results_modal" (click)="openAvailableAssetsDialog(['Permanent', 'false'])">{{option}}</a></li>
    </ul>
  </li>
  <li *ngIf="person">
    <a href="javascript:void(0)">Assign Spare <span class="glyphicon glyphicon-triangle-right pull-right" aria-hidden="true"></span></a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li *ngFor="let option of shiftOptions"><a href="javascript:void(0)" data-toggle="modal" data-target="#spare_results_modal" (click)="openAvailableAssetsDialog(['Spare', 'true'])">{{option}}</a></li>
    </ul>
  </li>

  <li role="separator" class="divider"></li>
  <li class="dropdown-header">Reports</li>
  <li><a href="javascript:void(0)">Repair History</a></li>
  <li><a href="javascript:void(0)">Movement History</a></li>
  <li><a href="javascript:void(0)">Assignment History</a></li>
  <li><a href="javascript:void(0)">Last Known Location</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">Allocation Register</a></li>
</ul>
