<md-card>
  <md-card-title>Asset Allocation</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <td-steps mode="vertical">
      <td-step #step1 label="Select Person" sublabel="Person that you want to assign an asset to"
               [active]="activeStep1" [disabled]="disabled" (activated)="activeStep1Event()"
               (deactivated)="deactiveStep1Event()" [state]="stateStep1">
        <ng-template td-step-label *ngIf="showPersonInfo"><span>Selected Person: {{selectedPerson?.name}} {{selectedPerson?.personId}}</span></ng-template>

        <qs-person-search-form (selectedPerson)="handleSelectedPerson($event)"></qs-person-search-form>
      </td-step>
      <td-step #step2 label="Select Asset" sublabel="Choose the Asset that you want to assign" [state]="stateStep2"
               [disabled]="disabled" [active]="activeStep2" disableRipple>
        <ng-template td-step-label *ngIf="showAssetInfo"><span>Selected Asset: {{selectedAsset?.assetId}} {{selectedAsset?.assetType?.description}}</span></ng-template>

        <qs-asset-search-form (selectedAsset)="handleSelectedAsset($event)"></qs-asset-search-form>
        <ng-template td-step-actions>
          <button md-raised-button color="primary" (click)="toggleRequiredStep2()" class="text-upper">Toggle Require
          </button>
          <button md-button (click)="step2.active = false" class="text-upper">Cancel</button>
        </ng-template>
      </td-step>
      <td-step #step3 label="Complete Allocation" sublabel="Confirm Allocation" [state]="stateStep3"
               [disabled]="disabled" [active]="activeStep3">
        Are you sure you want to assign
        {{selectedAsset?.assetType?.description}} {{selectedAsset?.assetId}}
        to
        {{selectedPerson?.name}} {{selectedPerson?.personId}}
        <ng-template td-step-summary>
          Use an optional step summary to summarize the info in this step
        </ng-template>
        <ng-template td-step-actions>
          <button md-raised-button color="primary" (click)="toggleCompleteStep3()" class="text-upper">Complete Allocation
          </button>
          <button md-button (click)="step3.active = false" class="text-upper">Cancel</button>
        </ng-template>
      </td-step>
    </td-steps>
  </md-card-content>
</md-card>
