<div class="dashboard">
  <div class="dash-top-menu">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/lampsman/search']" >Person Search</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/lampsman/search/asset']" >Asset Search</a>
      </li>
    </ul>
  </div>
  <div class="dash-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
<a md-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['/lampsman/create']">
  <md-icon>add</md-icon>
</a>
