<h1 md-dialog-title>Assign Equipment To Selected Person?</h1>
<md-divider></md-divider>
<p>A new asset was created. </p>
<p>Would you like to assign it to {{data}}?</p>
<md-divider></md-divider>
<md-dialog-actions>
  <button md-raised-button md-dialog-close="false">Dont Assign</button>
  <button md-raised-button color="accent" md-dialog-close="true">Assign</button>
</md-dialog-actions>
