<form *ngIf="person" [formGroup]="editPersonForm" (ngSubmit)="editPerson(editPersonForm.value)">
  <md-card>
    <md-card-title>Edit Person</md-card-title>
    <md-divider></md-divider>
    <md-card-content>

      <div layout="row" layout-margin>
        <div flex>
          <md-select mdInput formControlName="type" placeholder="Person Type">
            <md-option [value]="person?.type">
              {{person?.type?.description}}
            </md-option>
          </md-select>
        </div>
        <md-input-container flex>
          <input mdInput placeholder="Person ID"
                 formControlName="personId">
        </md-input-container>
      </div>

      <ng-container formArrayName="attributeMap">
        <ng-container *ngFor="let attr of personTypeAttributes; let even = even; let i = index">
          <div layout="row" layout-margin *ngIf="even">
            <ng-container *ngFor="let attribute of [personTypeAttributes[i], personTypeAttributes[i+1]]">
              <ng-container *ngIf="attribute?.type.systemType==='STRING'">
                <md-input-container flex>
                  <input mdInput placeholder="{{attribute?.description}}" name="{{attribute?.name}}"
                         formControlName="{{attribute?.name}}">
                </md-input-container>
              </ng-container>


              <ng-container *ngIf="attribute?.type.systemType==='DATE'">
                  <md-input-container flex>
                    <input mdInput placeholder="{{attribute?.description}}"
                           formControlName="{{attribute?.name}}"
                           [mdDatepicker]="myDatepicker">
                    <button mdSuffix [mdDatepickerToggle]="myDatepicker"></button>
                  </md-input-container>
                  <md-datepicker #myDatepicker></md-datepicker>
              </ng-container>

              <div *ngIf="attribute?.type.systemType==='BOOLEAN'">
                <md-input-container flex>
                  <input mdInput placeholder="{{attribute?.description}}" formControlName="{{attribute?.name}}">
                </md-input-container>
              </div>

              <div *ngIf="attribute?.type.systemType==='OPTION_LOOKUP'">
                <md-input-container flex>
                  <input mdInput placeholder="{{attribute?.description}}" formControlName="{{attribute?.name}}">
                </md-input-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>

    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions>
      <button md-raised-button color="primary" type="submit" class="text-upper"
              [disabled]="!editPersonForm?.valid">Save Person
      </button>
      <button md-button class="text-upper" [routerLink]="['/lampsman/search']" [queryParams]="{person: person?.personId}">Cancel</button>

    </md-card-actions>
  </md-card>
</form>
