<div class="dashboard">
  <div class="dash-top-menu">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/repairs/']">Inspection</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/repairs/booked']">Booked In</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/repairs/inrepair']">Being Repaired</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/repairs/complete']">Completed Repairs</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/repairs/ber']">BER</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/repairs/quarantine']">Quarantined</a>
      </li>
    </ul>
  </div>
  <div class="dash-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
