<div class="miner-body">
  <img src="/assets/images/miner-body.png" class="miner-image">

  <qs-misc [person]="person" [assignedMisc]="assignedMisc"></qs-misc>
  <qs-pds [person]="person" [assignedPds]="assignedPds"></qs-pds>
  <qs-caplamp [assignedCaplamps]="assignedCaplamps" [person]="person"></qs-caplamp>
  <qs-rescuepack [person]="person" [assignedRescuePacks]="assignedRescuePacks"></qs-rescuepack>
  <qs-gdi [assignedGdis]="assignedGdis" [person]="person"></qs-gdi>
</div>
