.miner-body .clear_search {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: #33aade;
  font-weight: bold;
  border: solid 2px #e4e4e4;
  padding: 4px 13px;
  width: auto;
  border-radius: 2px;
  color: #fff;
  height: auto;
  font-size: 12px;
}
