<div class="dashboard">
  <div class="dash-top-menu">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/reports/gdi/']">Gas</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/reports/gdi/calibration']">Calibration</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/reports/gdi/test']">Test</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/reports/gdi/twa']">Twa</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/reports/gdi/stel']">Stel</a>
      </li>
    </ul>
  </div>
  <div class="dash-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
