<div class="dashboard">
  <div class="dash-top-menu">
    <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/admin/']">User Admin</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin/settings']">Settings</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin/equipment']">Equipment</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin/lampsman']">Lampsman</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin/locations']">Locations</a>
    </li>
  </ul>
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/event-types']">Event Types</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/personel']">Personel</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/repair']">Repairs</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/life-cycles']">Life Cycles</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/monitoring']">Monitoring</a>
      </li>
    </ul>
  </div>
  <div class="dash-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
