<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span><strong>Mimacs</strong> Enterprise</span>
    <span flex></span>
    <td-search-box placeholder="Search" [alwaysVisible]="false" flex></td-search-box>
    <button mdTooltip="Notifications & Alerts" md-icon-button [mdMenuTriggerFor]="notificationsMenu">
      <td-notification-count [notifications]="101">
        <md-icon>notifications</md-icon>
      </td-notification-count>
    </button>
    <md-menu #notificationsMenu="mdMenu" [overlapTrigger]="false">
      <td-menu>
        <div td-menu-header class="md-subhead">Notifications</div>
        <md-nav-list dense>
          <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
            <a md-list-item>
              <md-icon md-list-avatar>today</md-icon>
              <h4 md-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span>
              </h4>
              <p md-line>22 minutes ago</p>
            </a>
            <md-divider *ngIf="!last"></md-divider>
          </ng-template>
        </md-nav-list>
        <button md-button color="accent" td-menu-footer>
          See All Notifications
        </button>
      </td-menu>
    </md-menu>

    <td-notification-count color="primary" positionX="before" [notifications]="true" [mdMenuTriggerFor]="userMenu">
      <md-icon>person</md-icon>
    </td-notification-count>
    <md-menu #userMenu="mdMenu" [overlapTrigger]="false">
      <td-menu>
        <div td-menu-header class="md-subhead user-menu">
          <div class="user-image">
            <img src="../../../assets/images/avatar.png">
          </div>
          <div class="user-info">
            <span><strong>Bright Dodo</strong></span>
            <span>Role(s): Admin</span>
          </div>
        </div>
        <div td-menu-footer>
          <button md-button color="primary" class="text-upper">Edit Profile</button>
          <button md-button color="accent" class="text-upper">Sign Out</button>
        </div>
      </td-menu>
    </md-menu>

    <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #toolbarMenu1="mdMenu" [overlapTrigger]="false">
      <td-menu>
        <div td-menu-header class="md-subhead">{{applicationTitle}}</div>
        <md-nav-list dense>
          <p md-list-item>Shaft: </p>
          <p md-list-item>Version: </p>
          <p md-list-item>Last Updated:</p>
        </md-nav-list>
        <button md-button color="accent" td-menu-footer>
          <md-icon>settings</md-icon>
          <span>Settings</span>
        </button>
      </td-menu>
    </md-menu>

    <!--<a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
-->
  </div>
  <td-layout-manage-list #manageList
                         [opened]="media.registerQuery('gt-sm') | async"
                         [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                         [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <md-toolbar td-sidenav-content>
      <span>LMS / AMS</span>
    </md-toolbar>
    <md-nav-list td-sidenav-content>
      <a md-list-item
         md-ripple class="block relative"
         (click)="!media.query('gt-sm') && manageList.close()"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}"
         [routerLink]="['/lampsman']">
        <md-icon md-list-icon>dashboard</md-icon>
        Dashboard
      </a>
      <a md-list-item
         md-ripple class="block relative"
         (click)="!media.query('gt-sm') && manageList.close()"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}"
         [routerLink]="['search']">
        <md-icon md-list-icon>search</md-icon>
        Search
      </a>
      <a md-list-item (click)="!media.query('gt-sm') && manageList.close()" md-ripple class="block relative"
         (click)="!media.query('gt-sm') && manageList.close()"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}"
         [routerLink]="['create']">
        <md-icon md-list-icon>create</md-icon>
        Create
      </a>
      <a md-list-item
         md-ripple class="block relative"
         (click)="!media.query('gt-sm') && manageList.close()"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}"
         [routerLink]="['allocate']">
        <md-icon md-list-icon>assignment_ind</md-icon>
        Allocate
      </a>
      <h3 md-subheader>Admin Menu</h3>
      <a md-list-item (click)="!media.query('gt-sm') && manageList.close()" md-ripple class="block relative"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}"
         [routerLink]="['/logs']">
        <md-icon md-list-icon>receipt</md-icon>
        Logs
      </a>
      <a md-list-item (click)="!media.query('gt-sm') && manageList.close()" md-ripple class="block relative"
         (click)="!media.query('gt-sm') && manageList.close()"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}"
         [routerLink]="['/admin/lampsman']">
        <md-icon md-list-icon>settings</md-icon>
        Settings
      </a>
    </md-nav-list>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span>{{title}}</span>
      <span flex></span>
      <button md-icon-button (click)="!media.query('gt-sm') && manageList.close()"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}"
              [routerLink]="['/lampsman']">
        <md-icon class="md-24">view_module</md-icon>
      </button>
      <button md-icon-button>
        <md-icon class="md-24">sort</md-icon>
      </button>
      <button md-icon-button>
        <md-icon class="md-24">settings</md-icon>
      </button>
      <button md-icon-button>
        <md-icon class="md-24">more_vert</md-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </td-layout-manage-list>
  <td-layout-footer>
    <qs-footer></qs-footer>
  </td-layout-footer>
</td-layout-nav>
