<div class="md-content inset">
  <div layout-gt-xs="row">
    <div flex-gt-xs="50">
      <qs-person-search-form (selectedPerson)="handleSelectedPerson($event)"></qs-person-search-form>
      <td-expansion-panel disableRipple *ngIf="showPersonInfo">
        <ng-template td-expansion-panel-header>
          <md-toolbar color="primary">
            <button md-icon-button>
              <md-icon class="md-36">portrait</md-icon>
            </button>
            <span>{{selectedPerson?.name}} - {{selectedPerson?.personId}}</span>
            <span flex></span>
            <span>{{personAssignments?.length}} Asset(s) Assigned | </span>
            <!--[routerLink]="['/lampsman/allocate']" [queryParams]="{person: selectedPerson?.personId}"-->
            <button md-icon-button (click)="openSearchAssetDialog()"
                    mdTooltip="Assign an Asset to this person">
              <md-icon class="md-24">link</md-icon>
            </button>
            <button md-icon-button mdTooltip="Edit this person"
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact:true}"
                    [routerLink]="['/lampsman/person/edit/', selectedPerson?.personId]">
              <md-icon class="md-24">edit</md-icon>
            </button>
            <button md-icon-button mdTooltip="View Timeline"
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact:true}"
                    [routerLink]="['/lampsman/person/timeline', selectedPerson?.personId]">
              <md-icon class="md-24">timeline</md-icon>
            </button>
            <button md-icon-button mdTooltip="View More Details"
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact:true}"
                    [routerLink]="['/lampsman/person/details/', selectedPerson?.personId]">
              <md-icon class="md-24">more_vert</md-icon>
            </button>
          </md-toolbar>
        </ng-template>
        <td-expansion-summary>
          <div class="md-padding">
            <div flex layout-gt-xs="row" layout-align="start center" *ngIf="selectedPerson?.firstname">
              <span flex="30" class="md-subhead">Firstname</span>
              <span flex="5" hide-xs><md-icon class="tc-grey-500">chevron_right</md-icon></span>
              <span flex>{{selectedPerson?.firstname}}</span>
            </div>
            <div flex layout-gt-xs="row" layout-align="start center" *ngIf="selectedPerson?.occupation">
              <span flex="30" class="md-subhead">Occupation</span>
              <span flex="5" hide-xs><md-icon class="tc-grey-500">chevron_right</md-icon></span>
              <span flex>{{selectedPerson?.occupation}}</span>
            </div>
            <div flex layout-gt-xs="row" layout-align="start center">
              <span flex="30" class="md-subhead">Person Type</span>
              <span flex="5" hide-xs><md-icon class="tc-grey-500">chevron_right</md-icon></span>
              <span flex>{{selectedPerson?.type?.description}}</span>
            </div>
          </div>
        </td-expansion-summary>
        <md-list>
          <md-list-item>
            <md-icon md-list-avatar>account_box</md-icon>
            <h4 md-line>{{selectedPerson?.name}} - {{selectedPerson?.personId}}</h4>
            <p md-line>Firstname: {{selectedPerson?.firstname}} | {{selectedPerson?.personType?.description}} |
              {{selectedPerson?.shift}} Shift</p>
          </md-list-item>
          <h3 md-subheader>Assigned Equipment</h3>
          <md-divider md-inset></md-divider>
          <div *ngFor="let assignment of personAssignments">
            <md-list-item>
              <md-icon md-list-avatar>description</md-icon>
              <h4 md-line>{{assignment.asset?.assetType?.description}} - {{assignment.asset.assetId}}</h4>
              <p md-line>{{assignment.asset?.status}} | {{assignment.asset?.allocStatus}} | {{assignment.startDate |
                timeAgo}}</p>
              <span flex></span>
              <button md-icon-button>
                <md-icon class="md-24" mdTooltip="De-Allocate Asset from this Person!" (click)="deallocate(assignment)">remove_circle</md-icon>
              </button>
              <button md-icon-button>
                <md-icon class="md-24" mdTooltip="Edit this Asset" [routerLink]="['/lampsman/asset/edit', assignment?.asset.assetId]">edit</md-icon>
              </button>
              <button md-icon-button>
                <md-icon class="md-24" mdTooltip="Repair History for this asset">gavel</md-icon>
              </button>
              <button md-icon-button mdTooltip="Allocation History for this asset">
                <md-icon class="md-24">view_list</md-icon>
              </button>
              <button md-icon-button mdTooltip="View More details">
                <md-icon class="md-24">more_vert</md-icon>
              </button>
            </md-list-item>
            <md-divider md-inset></md-divider>
          </div>
        </md-list>
      </td-expansion-panel>

    </div>
    <div flex-gt-xs="50">
      <md-card>
        <md-card-title *ngIf="showPersonInfo" >{{selectedPerson?.name}} - {{selectedPerson?.personId}}
        </md-card-title>
        <md-card-subtitle *ngIf="showPersonInfo">{{selectedPerson?.personType?.description}} |
          {{selectedPerson?.shift}} Shift
        </md-card-subtitle>
        <md-divider></md-divider>
        <md-card-content>
          <div class="miner">
            <qs-minerbody class="miner-body" (clearSearchResults)="clearSearch($event)" [person]="selectedPerson"></qs-minerbody>
            <qs-expiryblock class="miner-expiry" [person]="selectedPerson"></qs-expiryblock>
          </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions>
          <button md-button color="accent" class="text-upper" type="reset" (click)="clearSearch()">Clear Search</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
