<md-card>
  <md-card-title>All Activity</md-card-title>
  <md-card-subtitle>for this person</md-card-subtitle>
  <md-divider></md-divider>
  <md-nav-list class="will-load item-list">
    <ng-template tdLoading="items.load">
      <ng-template let-item let-last="last" ngFor [ngForOf]="items">
        <a md-list-item layout-align="row" [routerLink]="['../item', item.item_id]">
          <md-icon md-list-avatar> {{item.icon}}</md-icon>
          <h3 md-line> {{item.name}} </h3>
          <p md-line> {{item.description | truncate:40}} </p>
          <span flex></span>
          <span class="md-caption text-right" flex="20"> {{item.created | timeAgo }} </span>
        </a>
        <md-divider *ngIf="!last" md-inset></md-divider>
      </ng-template>
    </ng-template>
  </md-nav-list>
  <md-divider></md-divider>
  <md-card-actions>
    <a md-button color="accent" class="text-upper" [routerLink]="['/lampsman/allocate']">
      <span>View More</span>
    </a>
  </md-card-actions>
</md-card>
