<div layout="row" layout-align="start center">
  <span class="md-caption">Copyright &copy; {{currentDate | date: 'y'}} Schauenburg Systems. All rights reserved</span>
  <span flex></span>
  <md-icon class="md-icon-ux" svgIcon="{{icon}}"></md-icon>
</div>
