<div class="md-content inset">
  <div layout-gt-xs="row">
    <div flex-gt-xs="50">
      <md-card>
        <md-card-title>Equipment Tests</md-card-title>
        <md-divider></md-divider>
        <div class="chart-height push-top-sm">
          <ngx-charts-line-chart
            [scheme]="orangeColorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [yAxisTickFormatting]="axisDigits">
          </ngx-charts-line-chart>
        </div>
        <md-divider></md-divider>
        <md-card-actions>
          <a md-button color="accent">
            <span class="text-upper">View Stats</span>
          </a>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-gt-xs="50">
      <md-card>
        <md-card-title>Movement Requests</md-card-title>
        <md-divider></md-divider>
        <div class="chart-height push-top-sm">
          <ngx-charts-line-chart
            [scheme]="blueColorScheme"
            [results]="multi2"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [yAxisTickFormatting]="axisDigits">
          </ngx-charts-line-chart>
        </div>
        <md-divider></md-divider>
        <md-card-actions>
          <a md-button color="accent">
            <span class="text-upper">View Stats</span>
          </a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div layout-gt-sm="row">
    <div flex-gt-sm="70">
      <md-card>
        <md-card-title>All Activity</md-card-title>
        <md-card-subtitle>for this lamproom</md-card-subtitle>
        <md-divider></md-divider>
        <md-nav-list class="will-load item-list">
          <ng-template tdLoading="items.load">
            <ng-template let-item let-last="last" ngFor [ngForOf]="items">
              <a md-list-item layout-align="row" [routerLink]="['../item', item.item_id]">
                <md-icon md-list-avatar> {{item.icon}}</md-icon>
                <h3 md-line> {{item.name}} </h3>
                <p md-line> {{item.description | truncate:40}} </p>
                <span flex></span>
                <span class="md-caption text-right" flex="20"> {{item.created | timeAgo }} </span>
              </a>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </ng-template>
          </ng-template>
        </md-nav-list>
      </md-card>
    </div>
    <div flex-gt-sm="30">
      <md-card>
        <md-card-title>Equipment Totals</md-card-title>
        <md-card-subtitle>for this shaft</md-card-subtitle>
        <md-divider></md-divider>
        <md-list class="will-load user-list">
          <ng-template tdLoading="users.load">
            <ng-template let-asset let-last="last" ngFor [ngForOf]="assetTypeStatistics">
              <md-list-item layout-align="row">
                <md-icon md-list-icon>account_box</md-icon>
                <h3 md-line> {{asset.assetType.description}} </h3>
                <!--<p md-line> {{asset.totalCount}} </p>-->
                <span flex></span>
                <span class="md-caption text-right" flex="20"> {{asset.totalCount}} </span>
              </md-list-item>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </ng-template>
          </ng-template>
        </md-list>
        <md-divider></md-divider>
        <md-card-actions>
          <a md-button color="accent" class="text-upper" (click)="openAssetSummaryDialog()">
            <span>View More</span>
          </a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
<a md-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['/lampsman/create']">
  <md-icon>add</md-icon>
</a>
