<div class="dashboard">
  <div class="dash-top-menu">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/paging/']">Paging</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/paging/monitoring']">Monitoring</a>
      </li>
    </ul>
  </div>
  <div class="dash-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
