<md-card>
  <md-card-title>Allocations</md-card-title>
  <md-card-subtitle>Current and previous allocations</md-card-subtitle>
  <md-divider></md-divider>
  <md-list class="will-load">
    <ng-template tdLoading="allocations.load">
      <ng-template let-assignment let-last="last" ngFor [ngForOf]="allocations">
        <md-list-item layout-align="row">
          <md-icon md-list-avatar>description</md-icon>
          <h4 md-line>{{assignment.asset?.assetType.description}} - {{assignment.asset.assetId}}</h4>
          <p md-line>{{assignment.asset?.status}} | {{assignment.asset?.allocStatus}} | {{assignment.startDate |
            timeAgo}}</p>
          <span flex></span>
          <button md-icon-button>
            <md-icon class="md-24" mdTooltip="De-Allocate Asset from this Person!">remove_circle</md-icon>
          </button>
          <button md-icon-button>
            <md-icon class="md-24" mdTooltip="Edit this Asset">edit</md-icon>
          </button>
          <button md-icon-button>
            <md-icon class="md-24" mdTooltip="Repair History for this asset">gavel</md-icon>
          </button>
          <button md-icon-button mdTooltip="Allocation History for this asset">
            <md-icon class="md-24">view_list</md-icon>
          </button>
          <button md-icon-button mdTooltip="View More details">
            <md-icon class="md-24">more_vert</md-icon>
          </button>
        </md-list-item>
        <md-divider *ngIf="!last" md-inset></md-divider>
      </ng-template>
    </ng-template>
  </md-list>
  <md-divider></md-divider>
  <md-card-actions>
    <a md-button color="accent" class="text-upper" [routerLink]="['/lampsman/allocate']">
      <span>Allocate</span>
    </a>
  </md-card-actions>
</md-card>
