<div class="dashboard">
  <div class="dash-top-menu">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/admin/']">Users</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/user/roles']">Groups</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/user/permissions']">Roles</a>
      </li>
    </ul>
  </div>
  <div class="dash-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
