<form [formGroup]="createAssetForm" (ngSubmit)="createAsset(createAssetForm.value)">
  <md-card>
    <td-steps>
      <td-step #step1 label="Step 1" sublabel="Select Asset Type" [active]="activeStep1" [disabled]="disabled"
               (activated)="activeStep1Event()"
               (deactivated)="deactiveStep1Event()" [state]="stateStep1">
        <md-card>
          <md-card-title>Select Asset Type</md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div flex class="custom_select">
              <md-select mdInput placeholder="Asset Type"
                         (change)="assetTypeSelected($event.value)">
                <md-option *ngFor="let type of assetTypes" [value]="type">
                  {{type.description}}
                </md-option>
              </md-select>
            </div>
          </md-card-content>
        </md-card>
      </td-step>
      <td-step #step2 label="Step 2" sublabel="this step must be validated" [state]="stateStep2" [disabled]="disabled"
               [active]="activeStep2" (deactivated)="deactiveStep2Event(createAssetForm.valid)">
        <md-card>
          <md-card-title>Fill in the form</md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div layout="row" layout-margin>
              <div flex class="custom_select">
                <md-select mdInput formControlName="type" placeholder="Asset Type" disabled>
                  <md-option *ngFor="let type of assetTypes" [value]="type">
                    {{type.description}}
                  </md-option>
                </md-select>
              </div>
              <md-input-container flex>
                <input mdInput placeholder="Enter Asset ID (15 max)" maxlength="15" #inputHint
                       formControlName="assetId">
                <md-hint align="end">{{inputHint.value.length}} / 15</md-hint>
              </md-input-container>
            </div>
            <ng-container formArrayName="attributeMap">
              <ng-container *ngFor="let attr of assetTypeAttributes; let even = even; let i = index">
                <div layout="row" layout-margin *ngIf="even">
                  <ng-container *ngFor="let attribute of [assetTypeAttributes[i], assetTypeAttributes[i+1]]">
                    <ng-container *ngIf="attribute?.type.systemType==='STRING'">
                      <md-input-container flex>
                        <input mdInput placeholder="{{attribute?.description}}" name="{{attribute?.name}}"
                               formControlName="{{attribute?.name}}">
                      </md-input-container>
                    </ng-container>


                    <ng-container *ngIf="attribute?.type.systemType==='DATE'">
                        <md-input-container flex>
                          <input mdInput placeholder="{{attribute?.description}}"
                                 formControlName="{{attribute?.name}}"
                                 [mdDatepicker]="myDatepicker">
                          <button mdSuffix [mdDatepickerToggle]="myDatepicker"></button>
                        </md-input-container>
                        <md-datepicker #myDatepicker></md-datepicker>
                    </ng-container>

                    <ng-container *ngIf="attribute?.type.systemType==='BOOLEAN'">
                      <ng-container flex>
                        <md-checkbox mdInput formControlName="{{attribute?.name}}" flex>{{attribute?.description}}</md-checkbox>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngIf="attribute?.type.systemType==='OPTION_LOOKUP'">
                      <div flex class="custom_select">
                        <md-select mdInput placeholder="{{attribute?.description}}">
                          <md-option *ngFor="let item of items" [value]="item?.name">
                            {{item?.description}}
                          </md-option>
                        </md-select>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </md-card-content>
          <md-card-actions>
            <button md-raised-button color="primary" type="submit" [disabled]="!createAssetForm.valid">Save Asset</button>
            <button md-button class="tc-grey-600" type="reset">Cancel</button>
          </md-card-actions>
        </md-card>
      </td-step>
      <td-step #step3 label="Step 3" sublabel="this step will toggle complete" [state]="stateStep3"
               [disabled]="disabledStep3">
        <md-card>
          <md-card-header>
            <md-card-title>Asset Created Successfully!</md-card-title>
            <span flex></span>
            <button md-icon-button
                    [routerLink]="['/lampsman/allocate']" [queryParams]="{asset: createdAsset?.assetId}"
                    mdTooltip="Assign this Asset to a person">
              <md-icon class="md-24">link</md-icon>
            </button>
            <button md-icon-button>
              <md-icon class="md-24" mdTooltip="Create a new asset" (click)="resetForm()">add_circle</md-icon>
            </button>
            <button md-icon-button mdTooltip="Edit this asset"
                    [routerLink]="['/lampsman/asset/edit', createdAsset?.assetId]">
              <md-icon class="md-24">edit</md-icon>
            </button>
            <button md-icon-button mdTooltip="View More Details"
                    [routerLink]="['/lampsman/asset/details/', createdAsset?.assetId]">
              <md-icon class="md-24">more_vert</md-icon>
            </button>
          </md-card-header>
          <md-divider></md-divider>
          <md-card-content>
            {{createdAsset?.assetType.description}}
            {{createdAsset?.assetId}}
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions>
            <button md-raised-button color="primary" (click)="resetForm()" class="text-upper">
              Create Another Asset
            </button>
            <button md-raised-button color="primary" class="text-upper"
                    [routerLink]="['/lampsman/allocate']" [queryParams]="{asset: createdAsset?.assetId}">
              Allocate Asset
            </button>
            <button md-button (click)="step3.active = false" class="text-upper">Cancel</button>
          </md-card-actions>
        </md-card>

      </td-step>
    </td-steps>
    <md-divider></md-divider>
    <md-card-actions>
      <button md-button class="tc-grey-600" [routerLink]="['/lampsman']">Cancel</button>
    </md-card-actions>
  </md-card>
</form>
