<md-card>
  <form #personSearchForm="ngForm" (submit)="searchPerson(personSearchForm.value)">
    <md-card-header class="mat-primary">
      <md-card-title>Person Search</md-card-title>
      <md-card-subtitle>Search for an existing person using Name, ID or Company No.</md-card-subtitle>
      <span flex></span>
      <button md-button type="button">
        <md-icon (click)="showMore = !showMore">more_vert</md-icon>
      </button>
    </md-card-header>

      <md-divider></md-divider>

    <md-card-content>

      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="Surname & Initials" name="name" ngModel>
        </md-input-container>
        <md-input-container flex>
          <input mdInput placeholder="Company No." name="companyNo" ngModel>
        </md-input-container>
      </div>
      <div layout="row" layout-margin *ngIf="showMore">
        <md-input-container flex>
          <input mdInput placeholder="Person Type" name="type" ngModel>
        </md-input-container>
        <md-input-container flex>
          <input mdInput placeholder="ID / Passport No." name="id" ngModel>
        </md-input-container>
      </div>
    </md-card-content>

    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="accent" class="text-upper" type="submit">Search</button>
      <button md-button class="text-upper" type="reset">Cancel</button>
    </md-card-actions>
  </form>
</md-card>

<md-card *ngIf="showResults">
  <md-card-title>Person Search Results</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <table class="results-table">
      <tr class="table-heading">
        <td>Person ID</td>
        <td>Surname & Initials</td>
        <td>Firstname</td>
        <td>Occupation</td>
        <td>Shaft</td>
        <td>Shift</td>
      </tr>
      <tr #tr *ngFor="let result of personSearchResults" (click)="selectResult(result)">
        <td>{{result.personId}}</td>
        <td>{{result.name}}</td>
        <td>{{result?.firstname}}</td>
        <td>{{result.occupation}}</td>
        <td>{{result.shaft}}</td>
        <td>{{result.shift}}</td>
      </tr>
    </table>
  </md-card-content>
</md-card>
