<md-card>
  <md-card-title>Passive Tag</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="row">
      <div flex>
        <md-select mdInput ngModel placeholder="Reader Location" name="location">
          <md-option *ngFor="let location of locations" [value]="location">
            ME
          </md-option>
        </md-select>
      </div>
    </div>
    <div layout="row">
      <md-input-container flex>
        <input mdInput placeholder="Passive Tag" name="tag" ngModel>
      </md-input-container>
      <button md-button class="mat-primary">
        <md-icon>fingerprint</md-icon>
      </button>
    </div>
  </md-card-content>
</md-card>
