<td-layout-nav > <!--logo="assets:covalent"-->
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span><strong>Mimacs</strong> Enterprise</span>
    <span flex></span>
    <td-search-box placeholder="Search" [alwaysVisible]="false" flex></td-search-box>
    <button mdTooltip="Notifications & Alerts" md-icon-button [mdMenuTriggerFor]="notificationsMenu">
      <td-notification-count [notifications]="101">
        <md-icon>notifications</md-icon>
      </td-notification-count>
    </button>
    <md-menu #notificationsMenu="mdMenu" [overlapTrigger]="false">
      <td-menu>
        <div td-menu-header class="md-subhead">Notifications</div>
        <md-nav-list dense>
          <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
            <a md-list-item>
              <md-icon md-list-avatar>today</md-icon>
              <h4 md-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
              <p md-line>22 minutes ago</p>
            </a>
            <md-divider *ngIf="!last"></md-divider>
          </ng-template>
        </md-nav-list>
        <button md-button color="accent" td-menu-footer>
          See All Notifications
        </button>
      </td-menu>
    </md-menu>

    <td-notification-count color="primary" positionX="before" [notifications]="true" [mdMenuTriggerFor]="userMenu">
      <md-icon>person</md-icon>
    </td-notification-count>
    <md-menu #userMenu="mdMenu" [overlapTrigger]="false">
      <td-menu>
        <div td-menu-header class="md-subhead user-menu">
          <div class="user-image">
            <img src="../../../assets/images/avatar.png">
          </div>
          <div class="user-info">
            <span><strong>Bright Dodo</strong></span>
            <span>Role(s): Admin</span>
          </div>
        </div>
        <div td-menu-footer>
          <button md-button color="primary" class="text-upper">Edit Profile</button>
          <button md-button color="accent" class="text-upper">Sign Out</button>
        </div>
      </td-menu>
    </md-menu>

    <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1"><md-icon>more_vert</md-icon></button>
    <md-menu #toolbarMenu1="mdMenu" [overlapTrigger]="false">
      <td-menu>
        <div td-menu-header class="md-subhead">{{applicationTitle}}</div>
        <md-nav-list dense>
          <p md-list-item>Shaft: </p>
          <p md-list-item>Version: </p>
          <p md-list-item>Last Updated:</p>
        </md-nav-list>
        <button md-button color="accent" td-menu-footer>
          <md-icon>settings</md-icon>
          <span>Settings</span>
        </button>
      </td-menu>
    </md-menu>

    <!--<a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
-->
  </div>
  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="60">
      <md-card>
        <md-card-title>Asset Movements</md-card-title>
        <md-card-subtitle>Movement stats for our products</md-card-subtitle>
        <md-divider></md-divider>
        <div class="chart-height push-top push-right-sm">
          <ngx-charts-area-chart-stacked
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [yAxisTickFormatting]="axisDigits">
          </ngx-charts-area-chart-stacked>
        </div>
      </md-card>
      <div layout="row">
        <div flex="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div class="md-headline">{{ '2341'| digits }} <md-icon class="tc-green-500 text-sm">arrow_upward</md-icon></div>
              <md-icon class="icon tc-indigo-700">perm_contact_calendar</md-icon>
              <div layout="column">
                <div class="md-subhead">Active Users</div>
                <div class="md-caption tc-grey-600">updated {{ '2017-06-17 12:59:59' | timeAgo }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
        <div flex="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div class="md-headline">{{ '72452903343' | bytes }} <md-icon class="tc-red-500 text-sm">arrow_downward</md-icon></div>
              <md-icon class="icon tc-light-blue-700">sd_storage</md-icon>
              <div layout="column">
                <div class="md-subhead">Downloaded Measurements</div>
                <div class="md-caption tc-grey-600">updated {{ '2017-06-18 11:02:59' | timeAgo }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
        <div flex="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div class="md-headline">{{ '324523' | digits}} <md-icon class="tc-green-500 text-sm">arrow_upward</md-icon></div>
              <md-icon class="icon tc-cyan-700">receipt</md-icon>
              <div layout="column">
                <div class="md-subhead">Pages Viewed</div>
                <div class="md-caption tc-grey-600">updated {{ '2017-06-21 09:59:59' | timeAgo }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
      <md-card>
        <md-card-title>Recent Activity</md-card-title>
        <md-card-subtitle>Recent activity from select members / assets</md-card-subtitle>
        <md-divider></md-divider>
        <md-nav-list class="will-load item-list">
          <ng-template tdLoading="items.load">
            <ng-template let-item let-last="last" ngFor [ngForOf]="items">
              <a md-list-item layout-align="row" [routerLink]="['../item', item.item_id]">
                <md-icon md-list-avatar> {{item.icon}} </md-icon>
                <h3 md-line> {{item.name}} </h3>
                <p md-line> {{item.description | truncate:50 }} </p>
                <span flex></span>
                <span class="md-caption text-right" flex="20"> {{item.created | timeAgo }} </span>
              </a>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </ng-template>
          </ng-template>
        </md-nav-list>
      </md-card>
    </div>
    <div flex-gt-sm="40">
      <md-card>
        <md-card-title>Alerts</md-card-title>
        <md-card-subtitle>Items requiring attention</md-card-subtitle>
        <md-divider></md-divider>
        <md-list class="will-load alert-list">
          <ng-template tdLoading="alerts.load">
            <ng-template let-item let-last="last" ngFor [ngForOf]="alerts">
              <md-list-item layout-align="row">
                <md-icon md-list-avatar class="bgc-amber-800">{{item.icon}}</md-icon>
                <h3 md-line> {{item.description}} </h3>
                <p md-line> {{item.name}} </p>
              </md-list-item>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </ng-template>
          </ng-template>
        </md-list>
        <md-divider></md-divider>
        <md-card-actions>
          <a md-button color="accent" class="text-upper" [routerLink]="['/logs']">
            <span>View More</span>
          </a>
        </md-card-actions>
      </md-card>
      <md-card id="dashboard-favorites-card" class="push-top">
        <md-card-title>Favorites</md-card-title>
        <md-card-subtitle>Your favorite activities / services</md-card-subtitle>
        <md-divider></md-divider>
        <md-nav-list class="will-load favorite-list">
          <ng-template tdLoading="favorites.load">
            <ng-template let-item let-last="last" ngFor [ngForOf]="products">
              <md-list-item layout-align="row" [routerLink]="['/lampsman']">
                <md-icon md-list-avatar>{{item.icon}}</md-icon>
                <h3 md-line> {{item.name}} </h3>
                <p md-line> {{item.description}} </p>
              </md-list-item>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </ng-template>
          </ng-template>
        </md-nav-list>
        <md-divider></md-divider>
        <md-card-actions>
          <a md-button color="accent" class="text-upper" [routerLink]="['/lampsman']">
            <span>View More</span>
          </a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <td-layout-footer>
    <qs-footer></qs-footer>
  </td-layout-footer>
</td-layout-nav>
