<div class="md-content" class="inset">
  <div layout-gt-xs="row">
    <div flex-gt-xs="50">
      <qs-asset-search-form (selectedAsset)="handleSelectedAsset($event)"></qs-asset-search-form>
      <div *ngIf="showAssetInfo">
        {{selectedAsset.assetId}}
      </div>
    </div>
    <div flex-gt-xs="50">
      <md-card>
        <md-card-title *ngIf="showPersonInfo" color="accent">{{selectedPerson?.name}} - {{selectedPerson?.personId}}</md-card-title>
        <md-card-subtitle *ngIf="showPersonInfo" color="primary">{{selectedPerson?.occupation}} | Shift: {{selectedPerson?.shift}}</md-card-subtitle>
        <md-divider></md-divider>
        <md-card-content>
          <div class="miner">
            <qs-minerbody class="miner-body" (clearSearchResults)="clearSearch($event)" [person]="selectedPerson"></qs-minerbody>
            <qs-expiryblock class="miner-expiry" [person]="selectedPerson"></qs-expiryblock>
          </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions>
          <button md-button color="accent" class="text-upper" type="reset" (click)="clearSearch()">Clear Search</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>

