// Custom style for loading elements without height
.will-load {
    min-height: 80px;
}
// Href line height wasn't right for md-icon-button
a[md-icon-button] {
    line-height: 36px;
}

// Capitalize
.text-capital {
  text-transform: capitalize;
}

// Lighter font weight in sub-toolbars
td-layout-manage-list .mat-toolbar {
    font-weight: 400;
}

.user-menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-image{
  flex: 1;
}
.user-image img{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border:3px solid;
}
.user-info{
  flex: 1;
}

.dashboard{
  display: flex;
  flex-direction:column;
  height: 100%;
  padding: 0 10px;
}

.dash-outlet{
  flex: 1 1 auto;
  padding-top: 10px;
}

.dash-top-menu{
  margin-top: 10px;
}

.dash-top-menu ul{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  margin: 0 0 3px 0;
}

.dash-top-menu ul li.active a{
  color: #F28933;
  /*background-color: #F28933;*/
}

.dash-top-menu ul li{
  flex: 1;
  list-style: none;
  text-align: center;
  margin-right: 3px;
  background: #F5F5F5 none repeat scroll 0 0;
  border-radius: 0;
  font-weight: 500;
}

.dash-top-menu ul li:last-child{
  margin-right: 0;
}

.dash-top-menu ul li a{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 15px;
  display: block;

}


/*Miner Body Styles*/

.miner-body {
  position: relative;
}

.miner-body .miner-image{
  width:100%;
  height: auto;
}

.miner-body button.clear_search {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

/*.miner_status {
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
  border-top: solid 1px #B3B3B3;
  background-color: #fff;
  margin-top: 10px;
}

.miner-body .miner_body_bkg {
  width: 100%;
  height: auto;
}*/

.miner-body .main_icon {
  display: none;
}

.miner-body .plus_icon {
  display: none;
}

.miner-body .assigned .btn { /*blue - search */
  background-color: #4c99cf;
}

.miner-body .assigned .main_icon {
  display: inline-block;
}

.miner-body .unassigned .btn { /*blue*/
  background-color: #1073b7;
}

.miner-body .unassigned .plus_icon {
  display: inline-block;
}

.miner-body .failed .btn {
  background-color: #ef5b30;
}

.miner-body .failed .main_icon {
  display: inline-block;
}

.miner-body .rules .btn {
  background-color: #fc0d1b;
}

.miner-body .rules .main_icon {
  display: inline-block;
}

.miner-body .misc {
  position: absolute;
  left: 6%;
  top: 7%;
}

.miner-body .pds {
  position: absolute;
  left: 6%;
  top: 20%;
}

.miner-body .cap-lamp {
  position: absolute;
  left: 61%;
  top: 6%;
}

.miner-body .gdi {
  position: absolute;
  left: 51%;
  top: 65%;
}

.miner-body .rescue-pack {
  position: absolute;
  left: 10%;
  top: 65%;
}

.miner-body button {
  background: #4898D1;
  border-radius: 50%;
  border: 2px solid #1F2D45;
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  padding: 0;
}

.miner-body button span:before {
  font-size: 28px;
  margin: 0;
  color: #FFFFFF;
}

.miner-body span {
  color: #202d45;
  font-size: 14px;
  font-weight: normal;

}

.miner-body span.icon-search {
  margin-left: -4px;
}

.miner-body img {
  width: 23px;
}

.miner-body button, .miner-body span, .miner-body div {
  display: inline-block;
  vertical-align: middle;
}

.miner-body .rescue-pack .rescue-img {
  background: url('assets/images/rescue-pac-img.png');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 53px;
  width: 65px;
}

.miner-body .gdi .gdi-img {
  background: url('assets/images/gdi-img.png');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 53px;
  width: 65px;
}
.miner{
  display: flex;
}
.miner-body{
  flex: 3;
}
.miner-expiry{
  flex: 1;
  border: 5px solid #9ECAE7;
  margin-bottom: 4px;
}

.add-extras .extras-list ul {
  padding-left: 10px !important;
  margin: 0;
  list-style: none;

}

.add-extras .extras-list ul li:first-child {
  margin-top: 0 !important;
}

.add-extras .extras-list ul li button {
  background: transparent;
  border: none;
  padding: 0;
}

.add-extras .extras-list ul li button img {
  max-width: 30px;
  height: auto;
  margin: 0 10px;
}

.expiry-block .expiry-list ul, .add-extras .extras-list ul {
  padding: 0;
  margin: 0;
  list-style: none;

}

.expiry-block .expiry-list ul li, .add-extras .extras-list ul li {
  margin: 10px 0
}

/*.expiry-block .expiry-list ul li span.glyphicon,
.expiry-block .expiry-list ul li span.label,*/
.add-extras .extras-list ul li span.glyphicon,
.add-extras .extras-list ul li span.label {

  display: inline-block;
  vertical-align: middle;
}

.expiry-block .expiry-list ul li span.label,
.add-extras .extras-list ul li span.label {
  font-size: smaller;
}

.add-extras .extras-list ul li span.glyphicon:before {
  font-size: 30px;
  color: #4898D1;
}

.extra-selected:before {
  color: #b3b3b3 !important;
}

.extra-selected-preview:before {
  color: #4898D1 !important;
}

.expiry-block .expiry-list ul li span.glyphicon:before {
  font-size: 20px;
  color: #b3b3b3;
}


.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > li > a:hover > .dropdown-menu,
.dropdown-menu > li > a:focus > .dropdown-menu{
  display: block;
}

.dropdown-menu li>.dropdown-menu {
  top: auto;
  left:90%;
  margin-top: -26px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-menu li:hover>.dropdown-menu {
  display: block;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 10px;
  line-height: 1.12857143;
  color: red;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

.custom_select md-select {
  display: inline-block;
  margin-top: 5px;
  width: 100%;
}

.results-table{
  width: 100%;
  background-color: #ffffff;
  font-size: 13px;
  table-layout: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.results-table tr td:first-child{
  border-left: 1px solid #e5e5e5;
}

.results-table tr:first-child td{
  border-top: 1px solid #e5e5e5;
}

.results-table td{
  border: 1px solid #EEEEEE;
  line-height: 24px;
  padding: 12px 12px 12px 24px;
  color: #212121;
  vertical-align: middle;
  display: table-cell;
}

.results-table tr:first-child{
  background-color: #fafafa;
  font-weight:500;
}

.results-table tr{
  display: table-row;
}

.results-table tr:hover{
  background-color: #f5f5f5;
}




