<div class="expiry-block">
  <img src="assets/images/avatar.png" class="miner-photo">
<!--  <div class="miner-info">
    <p>{{person?.name}}</p>
    <p>{{person?.personId}}</p>
  </div>-->
  <div class="expiry-list">
    <ul>
      <li>
        <a href="" (click)="addInductionExpiry()">
          <img src="/assets/images/sdashi1.png" class="sdashi1" style="color: black">
          <span class="label">Induction <br>Expiry</span>
        </a>
      </li>
      <li>
        <a href="" (click)="addMedicalExpiry()">
          <img src="/assets/images/sdashi2.png" class="sdashi2">
          <span class="label">Medical <br>Expiry</span>
        </a>
      </li>
      <li>
        <a href="" (click)="addTrainingExpiry()">
          <img src="/assets/images/sdashi3.png" class="sdashi3">
          <span class="label">Training <br>Expiry</span>
        </a>
      </li>
    </ul>
  </div>
</div>
