.expiry-block {
  display: flex;
  flex-direction: column;
}

.expiry-block .miner-photo {
  width: 100%;
  height: auto;
  background: #333333;
  flex: 2;
  border-bottom: 2px solid #9ECAE7;
}

.expiry-block .miner-info{
  flex: 1;
  border-bottom: 2px solid #9ECAE7;
  /*text-transform: uppercase;*/
  text-align: center;
  font-weight: bold;
  background-color: #F1F8FF;
}

.expiry-list {
  background: #FFFFFF;
  padding: 5px;
  flex: 4;
}

.expiry-list ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expiry-list li a {
  color: #333;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.expiry-list li img {
  width: 28%;
  height: 28%;
  margin-right: 5px;
  /*width: 25px;*/
}
