<div class="dashboard">
  <div class="dash-top-menu">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/reports/ams/']">Movement</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/reports/ams/paging']">Paging</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/reports/ams/gate']">Gate Access</a>
      </li>
    </ul>
  </div>
  <div class="dash-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
