<md-card>
  <form [formGroup]="createPersonForm" (ngSubmit)="createPerson(createPersonForm.value)">
    <md-card-title>Create New Person</md-card-title>
    <md-divider></md-divider>
    <md-card-content>
      <td-steps mode="vertical">
        <td-step #step1 label="Step 1" sublabel="Select Person Type"
                 [active]="activeStep1" [disabled]="disabled" (activated)="activeStep1Event()"
                 (deactivated)="deactiveStep1Event()" [state]="stateStep1">
          <md-card>
            <md-card-title>Select a person Type</md-card-title>
            <md-divider></md-divider>
            <md-card-content>
              <div flex class="custom_select">
                <md-select mdInput formControlName="type" placeholder="Person Type" #t
                           (change)="personTypeSelected($event.value)">
                  <md-option *ngFor="let type of personTypes" [value]="type">
                    {{type.description}}
                  </md-option>
                </md-select>
              </div>
            </md-card-content>
          </md-card>

        </td-step>
        <td-step #step2 label="Step 2" sublabel="Fill in person form" [state]="stateStep2"
                 [disabled]="disabled" [active]="activeStep2"
                 (deactivated)="deactiveStep2Event(createPersonForm.valid)">
          <md-card>
            <md-card-title>Fill in the form</md-card-title>
            <md-divider></md-divider>
            <md-card-content>
              <div layout="row" layout-margin>
                <div flex class="custom_select">
                  <md-select mdInput formControlName="type" placeholder="Person Type" #t
                             (change)="personTypeSelected(t.value)" disabled>
                    <md-option *ngFor="let type of personTypes" [value]="type">
                      {{type.description}}
                    </md-option>
                  </md-select>
                </div>
                <md-input-container [formGroup]="createPersonForm" flex>
                  <input mdInput placeholder="Enter Person ID (15 max)" maxlength="15" #inputHint
                         formControlName="personId">
                  <md-hint align="end">{{inputHint.value.length}} / 15</md-hint>
                </md-input-container>
              </div>

              <ng-container formArrayName="attributeMap">
                <ng-container *ngFor="let attr of personTypeAttributes; let even = even; let i = index">
                  <div layout="row" layout-margin *ngIf="even">
                    <ng-container *ngFor="let attribute of [personTypeAttributes[i], personTypeAttributes[i+1]]">
                      <ng-container *ngIf="attribute?.type.systemType==='STRING'">
                        <md-input-container flex>
                          <input mdInput placeholder="{{attribute?.description}}" name="{{attribute?.name}}"
                                 formControlName="{{attribute?.name}}">
                        </md-input-container>
                      </ng-container>


                      <ng-container *ngIf="attribute?.type.systemType==='DATE'">
                          <md-input-container flex>
                            <input mdInput placeholder="{{attribute?.description}}"
                                   formControlName="{{attribute?.name}}"
                                   [mdDatepicker]="myDatepicker">
                            <button mdSuffix [mdDatepickerToggle]="myDatepicker"></button>
                          </md-input-container>
                          <md-datepicker #myDatepicker></md-datepicker>
                      </ng-container>

                      <ng-container *ngIf="attribute?.type.systemType==='BOOLEAN'">
                        <md-input-container flex>
                          <input mdInput placeholder="{{attribute?.description}}" formControlName="{{attribute?.name}}">
                        </md-input-container>
                      </ng-container>

                      <ng-container *ngIf="attribute?.type.systemType==='OPTION_LOOKUP'">
                        <div flex>
                          <md-select mdInput placeholder="{{attribute?.description}}">
                            <md-option *ngFor="let item of items" [value]="item?.name">
                              {{item?.description}}
                            </md-option>
                          </md-select>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions>
              <button md-raised-button color="primary" type="submit" class="text-upper"
                      [disabled]="!createPersonForm.valid">Save Person
              </button>
              <button md-button (click)="step2.active = false" class="text-upper">Cancel</button>
            </md-card-actions>
          </md-card>
        </td-step>
        <td-step #step3 label="Step 3" sublabel="Complete" [state]="stateStep3"
                 [disabled]="disabledStep3" [active]="activeStep3" (activated)="activeStep3Event()">
          <md-card>
            <md-card-header>
              <md-card-title>Person Created Successfully!</md-card-title>
              <span flex></span>
              <button md-icon-button
                      [routerLink]="['/lampsman/allocate']" [queryParams]="{person: createdPerson?.personId}"
                      mdTooltip="Assign an Asset to this person">
                <md-icon class="md-24">link</md-icon>
              </button>
              <button md-icon-button>
                <md-icon class="md-24" mdTooltip="Create a new person" (click)="resetForm()">add_circle</md-icon>
              </button>
              <button md-icon-button mdTooltip="Edit this person"
                      [routerLink]="['/lampsman/person/edit', createdPerson?.personId]">
                <md-icon class="md-24">edit</md-icon>
              </button>
              <button md-icon-button mdTooltip="View More Details"
                      [routerLink]="['/lampsman/person/details/', createdPerson?.personId]">
                <md-icon class="md-24">more_vert</md-icon>
              </button>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content>
              {{createdPerson?.name}}
              {{createdPerson?.personId}}
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions>
              <button md-raised-button color="primary" (click)="resetForm()" class="text-upper">
                Create Another Person
              </button>
              <button md-raised-button color="primary" class="text-upper"
                      [routerLink]="['/lampsman/allocate']" [queryParams]="{person: createdPerson?.personId}">
                Allocate Asset
              </button>
              <button md-button (click)="step3.active = false" class="text-upper">Cancel</button>
            </md-card-actions>
          </md-card>

        </td-step>
      </td-steps>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions>
      <!--<button md-raised-button color="accent">Save &amp; Create</button>-->
      <button md-button class="tc-grey-600" [routerLink]="['/lampsman']" type="reset">Cancel</button>
    </md-card-actions>
  </form>
</md-card>
