<h2 md-dialog-title>Asset Summary</h2>
<md-divider></md-divider>
<md-dialog-content>
<table>
  <thead>
  <tr>
    <th>Equipment Type</th>
    <th>Spare</th>
    <th>Total</th>
    <th>Assigned</th>
    <th>Available</th>
    <th>% Available</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>
</md-dialog-content>
<md-divider></md-divider>
<md-dialog-actions>
  <button md-button md-dialog-close>No</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button md-button [md-dialog-close]="true">Yes</button>
</md-dialog-actions>

<!--<md-card>
  <md-card-header>
    <md-toolbar color="primary">
      <h2 md-card-title>Asset Summaries</h2>
    </md-toolbar>
  </md-card-header>

  <md-card-content>
      <p>hesi babe</p>
  </md-card-content>
</md-card>-->
