<div class="dashboard">
  <div class="dash-top-menu">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/lampsman/create']">Create Person</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/lampsman/create/asset']">Create Asset</a>
      </li>
    </ul>
  </div>
  <div class="dash-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
