<div class="dashboard">
  <div class="dash-top-menu">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/reports/scas/']">Vehicle</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/reports/scas/caplamp']">Cap Lamp</a>
      </li>
    </ul>
  </div>
  <div class="dash-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
